@media screen and (max-width: 1500px){
  .container{
    max-width: 85%;
  }
}

@media screen and (max-width: 1035px){
  #r2__header{

    .container{
      justify-content: space-between;
    }

    .r2__header__navigation_bar{
      display: none;
    }
  }
}