#r2__greeting__block{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fit, 50%);
    row-gap: 1rem;
    column-gap: 1rem;

    margin-bottom: 5rem;
    position: relative;

    .r2__greeting__slider{
        grid-column: 1 / 3;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        &__inner{
            padding: 3.8rem 1.5rem 1.2rem 3.8rem;
            background-color: $white;

            .r2__background__logo{
                position: absolute;
                right: 6rem;
                top: 0;
                margin-top: -7rem;
                opacity: 0.1;

                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */

                span{
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                }

                &__R{
                    font-size: 200px;
                    color: rgba($black, 0.8);
                }

                &__2{
                    font-size: 80px;
                    left: 6.1rem;
                    bottom: 1.5rem;
                }
            }

            .r2__slide_1{

                h3{
                   font-style: italic;
                   color: $red--700;
                   font-weight: $light; 
                }
                h1{
                    font-size: 48px;
                    font-weight: $heavy;
                }

                &__button{
                    margin-top: 1rem;

                    .r2__button{
                        color: $red--700;
                        background-color: rgba($red--700, 0.1);
                        border-radius: $buttonBorderRadius;
                        transition: .5s;

                        &:hover{
                            background-color: rgba($red--700, 1);
                            color: $white;
                        }
                    }
                }
            }

            .r2__slider__arrows{
                display: flex;
                justify-content: flex-end;
                column-gap: .7rem;
            }
        }
    }

    .r2__greeting__free_trial{
        height: 100%;

        &__inner{
            padding: 3rem;
            background-color: $blue--700;
            border-radius: $borderRadius;

            h4{
                margin-bottom: 1rem;
                color:$blue--200;
            }

            p{
                color: $white;
            }


            .r2__button{
                margin-top: 1.5rem;
                color: $blue--200;
                background-color: rgba($blue--200, 0.1);
                border-radius: $buttonBorderRadius;
                transition: .5s;

                    &:hover{
                        background-color: rgba($blue--200, 1);
                        color: $white;
                    }
            }
        }
    }

    .r2__greeting_demo{
        height: 100%;
        background-color: $white;
        border-radius: $borderRadius;
        position: relative;

        &__inner{
            padding: 3rem 3rem 0;
            display: inline-flex;
            flex-direction: column;

            h4{
                color: $red--700;
                margin-bottom: 1rem;
            }

            p{
                padding-bottom: 1rem;
            }

            &__image{
                height: 100%;
                align-self: flex-end;
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: all .5s ease-in-out;
                border-radius: $borderRadius;
                box-shadow: 0 0 30px 5px rgba($red--700, 0.3);
                z-index: 5;

                &:hover{
                    margin-top: 6px;
                    left: 6px
                }

                img{
                    max-width: 13rem;
                    justify-content: center;
                    display: inline-flex;
                    border-radius: $borderRadius;
                    overflow: hidden;
                    cursor: pointer;
                    bottom: 0;
                }

                .greeting__image__overlay{
                    position: absolute;
                    width: 100%;
                    background-color: rgba($red--700, 0.7);
                    height: 100%;
                    z-index: 10;
                    border-radius: $borderRadius;
                    top: 0;
                    cursor: pointer;
                }

                .r2__greeting_demo__image_play_button{
                    z-index: 20;
                    color: $red--700;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;

                    span{
                        font-size: 28px;
                        padding: 1rem;
                        background-color: $white;
                        border-radius: 50px;
                        user-select: none;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -o-user-select: none;
                        transition: all .5s ease-in-out ;
                        box-shadow: 0 0 0 6px rgba($white, .3);
                        cursor: pointer;
                        
                        &:hover{
                            animation: shadowing .5s alternate slidein;
                            box-shadow: 0 0 0 6px $white;   
                        }
                    }

                }
            }
        }
    }
}

@keyframes shadowing {
    0% {
        box-shadow: 0 0 0 1px rgba($white, .3);
    }
}