$font: 'Source Sans Pro', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
$heavy: 900;

$black: black;
$black--200: #181819;

$red: red;
$red--700: #D0021B;

$white: white;

$blue--200: #50E3C2;
$blue--700: #0E1E31;

$grey--100: #f4f5f7;
$grey--200: #969696;
$grey--700: #4a4a4a;
$grey--800: #3d3d3d;

$borderRadius: 24px;
$buttonBorderRadius: 8px;

$h1--size: 72px;
$h2--size: 48px;
$h3--size: 24px;
$h4--size: 14px;

$p--size: 18px;
