@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f5f7;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  padding: 0;
  margin: 0;
}
body h1 {
  font-size: 72px;
}
body h2 {
  font-size: 48px;
}
body h3 {
  font-size: 24px;
}
body h4 {
  font-size: 14px;
}
body p {
  font-size: 18px;
}
body ul {
  display: flex;
  margin: 0;
  padding: 0;
}
body ul li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.r2__logo__wrapper {
  position: relative;
}

.r2__logo_R {
  font-size: 48px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.r2__logo_2 {
  position: absolute;
  font-size: 24px;
  font-weight: 900;
  color: #D0021B;
  bottom: 0.2rem;
  left: 1.4rem;
  z-index: 5;
}

.r2__button {
  display: inline-block;
  padding: 12px 18px;
  text-transform: uppercase;
  font-size: 14px;
}

.r2__arrow__button {
  background-color: rgba(208, 2, 27, 0.1);
  border-radius: 50px;
  color: #D0021B;
  display: inline-block;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}
.r2__arrow__button:hover {
  background-color: #d0021b;
  color: white;
}

span.r2__arrow__button__inactive {
  color: #181819 !important;
  background-color: rgba(74, 74, 74, 0.1) !important;
  cursor: default;
}

#r2__header {
  background-color: #181819;
  margin-bottom: 5rem;
  position: relative;
}
#r2__header .container {
  display: flex;
}
#r2__header .r2__header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}
#r2__header .r2__header__logo__description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 50px;
}
#r2__header .r2__header__navigation_bar {
  height: 100%;
  margin: auto auto;
}
#r2__header .r2__header__navigation_bar ul {
  column-gap: 3rem;
}
#r2__header .r2__header__navigation_bar ul a {
  font-size: 18px;
  color: white;
  transition: 0.3s;
}
#r2__header .r2__header__navigation_bar ul a:hover {
  color: #D0021B;
}
#r2__header .r2__header__buttons {
  display: flex;
  height: 100%;
  align-self: center;
  justify-content: space-between;
}
#r2__header .r2__header__buttons span {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#r2__header .r2__header__buttons span:hover {
  color: white;
}
#r2__header .r2__header__buttons span:last-child {
  margin-left: 1.3rem;
}
#r2__header .r2__header__buttons .r2__header__search__close_button {
  opacity: 1;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
#r2__header .r2__header__buttons .r2__header__search {
  display: flex;
  align-items: center;
  height: 100%;
}
#r2__header .r2__header__buttons .r2__header__search__input {
  width: 100%;
  height: 100%;
  height: calc(100% - 6px);
  font-size: calc($p--size - 3px);
  font-style: italic;
  color: #181819;
  font-weight: 300;
  background-color: transparent;
  border-radius: 8px;
  padding-left: 0.5rem;
  border-color: transparent;
  transition: 0.5s ease-in-out;
}

#r2__greeting__block {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 5rem;
  position: relative;
}
#r2__greeting__block .r2__greeting__slider {
  grid-column: 1/3;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}
#r2__greeting__block .r2__greeting__slider__inner {
  padding: 3.8rem 1.5rem 1.2rem 3.8rem;
  background-color: white;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__background__logo {
  position: absolute;
  right: 6rem;
  top: 0;
  margin-top: -7rem;
  opacity: 0.1;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
#r2__greeting__block .r2__greeting__slider__inner .r2__background__logo span {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__background__logo__R {
  font-size: 200px;
  color: rgba(0, 0, 0, 0.8);
}
#r2__greeting__block .r2__greeting__slider__inner .r2__background__logo__2 {
  font-size: 80px;
  left: 6.1rem;
  bottom: 1.5rem;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slide_1 h3 {
  font-style: italic;
  color: #D0021B;
  font-weight: 300;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slide_1 h1 {
  font-size: 48px;
  font-weight: 900;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slide_1__button {
  margin-top: 1rem;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slide_1__button .r2__button {
  color: #D0021B;
  background-color: rgba(208, 2, 27, 0.1);
  border-radius: 8px;
  transition: 0.5s;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slide_1__button .r2__button:hover {
  background-color: #d0021b;
  color: white;
}
#r2__greeting__block .r2__greeting__slider__inner .r2__slider__arrows {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.7rem;
}
#r2__greeting__block .r2__greeting__free_trial__inner {
  padding: 3rem;
  background-color: #0E1E31;
  border-radius: 24px;
}
#r2__greeting__block .r2__greeting__free_trial__inner h4 {
  margin-bottom: 1rem;
  color: #50E3C2;
}
#r2__greeting__block .r2__greeting__free_trial__inner p {
  color: white;
}
#r2__greeting__block .r2__greeting__free_trial__inner .r2__button {
  margin-top: 1.5rem;
  color: #50E3C2;
  background-color: rgba(80, 227, 194, 0.1);
  border-radius: 8px;
  transition: 0.5s;
}
#r2__greeting__block .r2__greeting__free_trial__inner .r2__button:hover {
  background-color: #50e3c2;
  color: white;
}
#r2__greeting__block .r2__greeting_demo {
  height: 100%;
  background-color: white;
  border-radius: 24px;
  position: relative;
}
#r2__greeting__block .r2__greeting_demo__inner {
  padding: 3rem;
}
#r2__greeting__block .r2__greeting_demo__inner h4 {
  color: #D0021B;
  margin-bottom: 1rem;
}
#r2__greeting__block .r2__greeting_demo__inner p {
  padding-bottom: 1rem;
}
#r2__greeting__block .r2__greeting_demo__inner__image {
  position: absolute;
  right: 1.5rem;
  transition: all 0.5s;
  border-radius: 24px;
  box-shadow: 0 0 30px 5px rgba(208, 2, 27, 0.3);
}
#r2__greeting__block .r2__greeting_demo__inner__image img {
  max-width: 13rem;
  justify-content: center;
  display: inline-flex;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}
#r2__greeting__block .r2__greeting_demo__inner__image .layer {
  width: 100%;
  background-color: rgba(208, 2, 27, 0.7);
  height: 100%;
  z-index: 10;
  position: absolute;
  border-radius: 24px;
  top: 0;
  cursor: pointer;
}
#r2__greeting__block .r2__greeting_demo__inner__image .r2__greeting_demo__image_play_button {
  position: absolute;
  z-index: 20;
  color: #D0021B;
  left: calc(50% - 1.7rem);
  top: calc(50% - 1.7rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#r2__greeting__block .r2__greeting_demo__inner__image .r2__greeting_demo__image_play_button span {
  font-size: 28px;
  padding: 1rem;
  background-color: white;
  border-radius: 50px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
#r2__greeting__block .r2__greeting_demo__inner__image .r2__greeting_demo__image_play_button span:hover {
  animation: shadowing 0.5s alternate slidein;
  box-shadow: 0 0 0 6px white;
}
#r2__greeting__block .r2__greeting_demo__inner__image:hover {
  margin-top: 6px;
  right: calc(1.5rem - 6px);
}

@keyframes shadowing {
  0% {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
  }
}
#r2__library {
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}
#r2__library .r2__library__carousel {
  overflow: hidden;
  width: 100%;
}
#r2__library .r2__library__carousel__wrapper {
  display: grid;
  grid-template-columns: repeat(7, calc(25% - 1rem));
  column-gap: 1rem;
}
#r2__library .r2__library__carousel__item {
  background-color: white;
  border-radius: 24px;
  width: 100%;
  cursor: pointer;
  margin: 3rem 0;
  transition: 0.5s all;
}
#r2__library .r2__library__carousel__item img {
  width: 50%;
  height: 6rem;
  object-fit: cover;
  object-position: top left;
  border-radius: 24px;
  margin-bottom: 1rem;
}
#r2__library .r2__library__carousel__item:hover {
  color: #D0021B;
  position: relative;
  bottom: 10px;
  box-shadow: 3px 5px 30px 1px rgba(150, 150, 150, 0.1);
}
#r2__library .r2__library__carousel__item__inner {
  padding: 1.5rem 1.5rem 2rem;
}
#r2__library .r2__carousel__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 65%;
  top: calc(55% + 15px);
  left: 17%;
  z-index: 20;
}

main {
  margin-bottom: 5rem;
}
main .r2__about__library {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}
main .r2__about__library .r2__library__description {
  grid-column: 1/3;
  background-color: #0E1E31;
  border-radius: 24px;
}
main .r2__about__library .r2__library__description__inner {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  column-gap: 1rem;
  align-items: center;
  padding: 3rem;
}
main .r2__about__library .r2__library__description__inner h2 {
  color: #50E3C2;
  font-weight: 900;
}
main .r2__about__library .r2__library__description__inner p {
  color: white;
}
main .r2__about__library .r2__library__description__inner .r2__button {
  margin-top: 1rem;
  color: #50E3C2;
  background-color: rgba(80, 227, 194, 0.1);
  border-radius: 8px;
  transition: 0.5s;
}
main .r2__about__library .r2__library__description__inner .r2__button:hover {
  background-color: #50e3c2;
  color: white;
}
main .r2__about__library .r2__description__item {
  min-height: 260px;
  background-color: white;
  border-radius: 24px;
}
main .r2__about__library .r2__description__item__inner {
  padding: 4rem;
}
main .r2__about__library .r2__description__item__inner span {
  font-size: 44px;
  margin-bottom: 2rem;
}
main .r2__about__library .r2__description__item__inner p {
  font-weight: 400;
  color: #3d3d3d;
}
main .r2__about__library .r2__description__item__inner__group {
  color: #D0021B;
}
main .r2__about__library .r2__description__item__inner__api {
  color: #5198EA;
}
main .r2__about__library .r2__description__item__inner__layers {
  color: #9AC52F;
}
main .r2__about__library .r2__description__item__inner__library {
  color: #E4A734;
}

#r2__popular__articles {
  margin-bottom: 5rem;
  position: relative;
}
#r2__popular__articles .r2__popular__carousel__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 65%;
  top: calc(25% + 40px);
  left: 17%;
}
#r2__popular__articles .r2__popular__carousel {
  margin: 0 0 3rem;
  display: grid;
  grid-template-columns: repeat(7, calc(25% - 1rem));
  column-gap: 1rem;
  overflow: hidden;
  width: 100%;
}
#r2__popular__articles .r2__popular__carousel__item {
  background-color: white;
  border-radius: 24px;
  width: 100%;
  z-index: 2;
  margin: 3rem 0;
  transition: 0.5s;
  cursor: pointer;
}
#r2__popular__articles .r2__popular__carousel__item img {
  width: 50%;
  height: 6rem;
  object-fit: cover;
  object-position: top left;
  border-radius: 24px;
  margin-bottom: 1rem;
}
#r2__popular__articles .r2__popular__carousel__item:hover {
  color: #D0021B;
  position: relative;
  bottom: 10px;
  box-shadow: 3px 5px 30px 1px rgba(150, 150, 150, 0.1);
}
#r2__popular__articles .r2__popular__carousel__item__inner {
  padding: 1.5rem 1.5rem 2rem;
}
#r2__popular__articles .r2__popular__publisher {
  position: relative;
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
}
#r2__popular__articles .r2__popular__publisher__inner {
  padding: 3.3rem;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  position: relative;
}
#r2__popular__articles .r2__popular__publisher__inner h3 {
  color: #D0021B;
  font-weight: 300;
  font-style: italic;
}
#r2__popular__articles .r2__popular__publisher__inner h1 {
  font-size: 48px;
  font-weight: 900;
}
#r2__popular__articles .r2__popular__publisher__inner .r2__button {
  color: #D0021B;
  background-color: rgba(208, 2, 27, 0.1);
  border-radius: 8px;
  margin-top: 1.5rem;
  transition: 0.5s;
}
#r2__popular__articles .r2__popular__publisher__inner .r2__button:hover {
  background-color: #d0021b;
  color: white;
}
#r2__popular__articles .r2__popular__publisher__inner__image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#r2__popular__articles .r2__popular__publisher__inner__image img {
  width: 60%;
  position: absolute;
  border-radius: 24px;
}

#r2__library__benefits {
  margin-bottom: 7rem;
}
#r2__library__benefits .container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-template-rows: 85% calc(15% - 1rem);
  gap: 1rem;
}
#r2__library__benefits .container .r2__benefits__help {
  grid-row: 1/3;
  background-color: #0E1E31;
  border-radius: 24px;
}
#r2__library__benefits .container .r2__benefits__help__inner {
  padding: 4rem;
}
#r2__library__benefits .container .r2__benefits__help__inner h2 {
  color: #50E3C2;
  font-weight: 900;
}
#r2__library__benefits .container .r2__benefits__help__inner p {
  margin-top: 1rem;
  color: white;
}
#r2__library__benefits .container .r2__benefits__help__inner .r2__button {
  color: #50E3C2;
  background-color: rgba(80, 227, 194, 0.1);
  border-radius: 8px;
  margin-top: 1rem;
  transition: 0.5s;
}
#r2__library__benefits .container .r2__benefits__help__inner .r2__button:hover {
  background-color: #50e3c2;
  color: white;
}
#r2__library__benefits .container .r2__titles__help {
  background-color: #0E1E31;
  border-radius: 24px;
}
#r2__library__benefits .container .r2__titles__help__inner {
  padding: 4rem;
}
#r2__library__benefits .container .r2__titles__help__inner h2 {
  color: #50E3C2;
  font-weight: 900;
}
#r2__library__benefits .container .r2__titles__help__inner p {
  margin-top: 1rem;
  color: white;
}
#r2__library__benefits .container .r2__library__mail {
  display: flex;
  align-items: center;
  background-color: #D0021B;
  border-radius: 24px;
}
#r2__library__benefits .container .r2__library__mail__inner {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  width: 100%;
}
#r2__library__benefits .container .r2__library__mail__inner .r2__library_icon {
  display: inline-flex;
  align-items: center;
}
#r2__library__benefits .container .r2__library__mail__inner .r2__library_icon span {
  font-size: 40px;
  color: white;
}
#r2__library__benefits .container .r2__library__mail__inner .r2__mail {
  color: white;
  font-size: 20px;
  margin: 0 auto;
}
#r2__library__benefits .container .r2__library__mail__inner .r2__mail a {
  color: white;
}
#r2__library__benefits .container .r2__library__mail__inner .r2__mail span {
  margin: 0 0.5rem;
}

#r2__footer {
  margin-bottom: 1rem;
}
#r2__footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#r2__footer .container .r2__footer__copyrights {
  color: #969696;
  font-size: 12px;
  margin-bottom: 0.3rem;
}
#r2__footer .container .r2__footer__contact_navigation ul {
  column-gap: 1rem;
}
#r2__footer .container .r2__footer__contact_navigation ul li a {
  position: relative;
  color: #D0021B;
  font-size: 14px;
}
#r2__footer .container .r2__footer__contact_navigation ul li a::after {
  transition: width 0.3s ease-in-out;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(208, 2, 27, 0.6);
}
#r2__footer .container .r2__footer__contact_navigation ul li a:hover::after {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  #r2__header {
    width: 100%;
  }
  #r2__header .container {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    margin: 0;
  }
  #r2__header .r2__header__navigation_bar {
    display: none;
  }

  #r2__greeting__block {
    grid-template-columns: calc(100% - 32px);
    grid-template-rows: repeat(3, 33%);
    margin: 0 auto;
  }
  #r2__greeting__block .r2__greeting__slider {
    grid-column: auto;
  }

  .r2__about__library {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(5, calc(20% - 1rem)) !important;
  }
  .r2__about__library .r2__library__description__inner {
    padding: 0 !important;
  }
}
